<h1>Login</h1>

<form action="<%= session_url %>" method="POST">
  <label for="user_email">Email</label>
  <input
    type="text"
    name="user[email]"
    id="user_email">
  <br><br>

  <label for="user_password">Password</label>
  <input
    type="password",
    name="user[password]"
    id="user_password">
  <br><br>

  <input type="submit" value="Login">
</form>
<%= button_to "Create Account", new_user_url, method: 'get' %>
