<ul>
  <% posts.each(function(post){ %>
    <li>
      <a href="#posts/<%= post.id %>"><%= post.get('title') %></a>
      <button
        data-id="<%= post.get('id') %>"
        class="post-delete-button">Delete</button>
    </li>
  <% }); %>
</ul>
<a href="#/new">Mew Post!</a>