<a href="#new">MEW</a>
<a href="#">INDEX</a>
<a href="#posts/8">SHOW</a>
<div id="sidebar">
  <div id="index"></div>
</div>
<div id="content">
  <div id="show-div"></div>
</div>
<div id="form-div"></div>
